/*
 Color Theme
#1E3C76
#5E6D8B
#3E5176
#11244B
#041535
*/

@media only screen and (max-width: 600px) {
    html {
        font-size: 10px;
    }

    .top-nav {
      min-height: 100px;
    }

    .top-nav li {
      margin-top: 2px;
    }

    .header {
      margin: 0 auto;
      width: 100%;
      margin-top: 110px;
      height: 140px;
    }

    .header ul {
      width: 80%;
      margin: 0 auto;
    }

    .header li {
      display: block;
      margin: 0 auto;
      text-align: center;
    }

    .header img {
      margin-top: 10px;
    }

    .header h1 {
      width: 330px;
      margin: 10px auto;
      padding: 0;
    }

    .skills ul {
      height: 400px;
      width: 18%;
      overflow: hidden;
      overflow-y: scroll;
    }

    .projects ul {
      height: 400px;
      overflow: hidden;
      overflow-y: scroll;
    }

}


html {
  width: 100%;
  min-height: 100%;
  overflow: auto;
  letter-spacing: 2px;
  font-family: fantasy;
  background-image: url(./images/grey_wash_wall.png);
  background-position: center;
  background-repeat: repeat;
}

body {
  min-height: 110%;
  width: 100%;
  margin: 0px;
  bottom: 0px;
  overflow: auto;
  background: rgba(32, 32, 32, 0.8);
}

header ul {
  margin-left: 5%;
  list-style: none;
  width: 600px;
}

header li {
  display: inline-block;
}

header {
  margin-top: 60px;
  height: 125px;
  color: white;
  background-color: rgba(30, 60, 118, 0.8);
  border-bottom: 2px solid black;
}

.profile-img {
  width: 50px;
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
}

header h1 {
  width: 350px;
  font-size: 50px;
  margin: 0;
  padding: 30px;
  padding-left: 12%;
}

.top-nav {
  border-radius: 2px;
  position: fixed;
  display: flex;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: rgba(4, 21, 53, 0.8);
  color: black;
  font-weight: bolder;
  text-align: center;
  font-size: 16px;
  border-top: 5px solid rgba(94, 109, 139, 0.5);
  border-bottom: 5px solid rgba(94, 109, 139, 0.5);
}


.top-nav__list {
  display: inline-block;
  list-style: none;
  margin: 12px auto;
}

.nav-item {
  padding-top: 5px;
  margin-top: -4px;
  display: inline-block;
  list-style: none;
  margin-left: 5px;
  border: 1px solid rgb(204, 211, 226);
  border-radius: 1px;
  background: rgb(230, 225, 230);
  width: 120px;
  vertical-align: baseline;
}

#contact-me {
  height: 34px;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 60% 75%, 0% 75%);
}

.nav-link {
  text-decoration: none;
  color: black;
}

.main {
  height: 100%;
  text-align: center;
  padding-top: 50px;
  font-size: 1.5em;
}

.projects {
  margin: 50px;
  padding: 10px;
  color: white;
  background-color: #5E6D8B;
  border-radius: 2px;
  box-shadow: 1px 2px 2px black;
}

.projects img {
  width: 15em;
  float: right;
  margin-left: 10px;
}

.projects h2 {
  background: white;
  color: black;
  width: 80%;
  padding: 15px;
  margin: 0 auto;
  margin-bottom: 5px;
  border-radius: 5px;
  border-bottom: 1px solid rgb(32, 32, 32);
  box-shadow: 1px 2px 2px black;
}

.projects ul {
  padding: 15px;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 5px;
  list-style: none;
  text-align: justify;
  background: white;
  color: black;
  box-shadow: 1px 2px 2px black;
}

.projects li {
  border-bottom: 1px solid black;
  margin-top: 10px;
  overflow: auto;
}

.projects-last-li {
  border-bottom: 1px solid white !important;
}

.projects a {
  padding: 5px;
  font-size: 20px;
}

.projects p {
  font-size: 15px;
  padding: 5px;
}

.about {
  padding: 10px;
  margin: 50px;
  color: white;
  background-color: #3E5176;
  border-radius: 2px;
  box-shadow: 1px 2px 2px black;
}

.about p {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.skills {
  padding: 10px;
  margin: 50px;
  color: white;
  background-color: #11244B;
  border-radius: 2px;
  box-shadow: 1px 2px 2px black;
}

.skills ul {
  background-color: rgb(255, 255, 255);
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 1px 2px 2px rgb(32, 32, 32);
}

.skills li {
  display: inline-block;
  list-style: none;
  margin-left: -20px;
}

.skills img {
  height: 40%;
  width: 40%;
  margin-top: 20px;
}

.contact-me {
  padding: 10px;
  margin: 40px;
  color: white;
  background-color: #041535;
  border-radius: 2px;
  box-shadow: 1px 2px 2px black;
}

.contact-me button, textarea, input {
  font-size: 0.8em;
}

.bottom {
  height: 100px;
  width: 100%;
}

footer {
  color: rgb(204, 211, 226);
  left: 0;
  position: relative;
  bottom: 0px;
  padding-bottom: 0px;
  width: 100%;
  border-top: 2px solid rgba(94, 109, 139, 0.5);
  border-bottom: 2px solid rgba(94, 109, 139, 0.5);
  background-color: rgba(30, 60, 118, 0.8);
  text-align: center;
  min-height: 50px;
}

footer h5 {
  margin-bottom: 10px;
}

footer img {
  margin-top: 5px;
  margin-bottom: -30px;
  width: 40px;
}
